version: "3.7"

services:
  openvpn:
    image: kylemanna/openvpn:2.5
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "443:1194/tcp"
    volumes:
      - ${APP_DATA_DIR}/data:/etc/openvpn
      - ${APP_DATA_DIR}/out:/out
    command: ["/bin/sh", "-c", "/out/entrypoint.sh"]
