  openvpn:
    image: kylemanna/openvpn:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "443:1194/tcp"
    volumes:
      - ${APP_DATA_DIR}/data:/etc/openvpn
      - ./scripts:/opt/castor:ro
    environment:
      OVPN_TCP_PORT: "443"
      OVPN_NET: "10.66.0.0"
      OVPN_MASK: "255.255.255.0"
    entrypoint: ["/bin/sh", "-lc", "exec /opt/castor/entrypoint.sh"]
