services:
  app_proxy:
    image: getumbrel/app-proxy:1.0.0
    restart: unless-stopped
    environment:
      APP_HOST: web
      APP_PORT: 8080
      PROXY_AUTH_ADD: "true"
    depends_on:
      - web

  web:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8080"
    volumes:
      - ${APP_DATA_DIR}/web:/usr/share/nginx/html:ro

  openvpn:
    image: kylemanna/openvpn:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "443:1194/tcp"
    volumes:
      - ${APP_DATA_DIR}/data:/etc/openvpn
